*{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    border: none;
}
html{
    width: 100%;
}
header{
    top: 0;
    display: flex;
    position: sticky;
    z-index: 2;
    background-color: black;
    justify-content: center;
    align-content: center;
}

.fa {
    padding: 10px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-instagram::before{
    font-size: 2.4rem;
    color: white;
}

.container{
    display: flex;
    color: white;
    height: 20vh;
    width: 95%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    
}
.farofa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#grifo{
    justify-self: flex-start;
    width: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    height: inherit;
    background-image: url("./img/falcao.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-color: rgb(143, 11,11);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    height: 350px;
    width: 45%;
    padding: 70px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    border-radius: 5px;
}

.login {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.acc-level {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

label {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

#mb {
    padding-right: 100px;
}

#dir {
    padding-left: 100px;
}

label input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}


input[type="text"].form-control, [type="password"].form-control {
    font-size: 16px;
    outline: none;
    width: calc(100% - 36px);
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#button {
    display: flex;
    flex-direction: row;
}

button {
    outline: none;
    margin-right: 16px;
    background: rgb(143, 11,11);
    color: white;
    padding: 16px;
    display: block;
    width: 50%;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover{
    opacity: 0.6;
    transition: 0.5s;
}

#sng {
    margin-right: 0;
    margin-left: 16px;
}


@font-face {
    font-family: Inter;
    src: url("./../fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: Graduate;
    src: url("./../fonts/Graduate-Regular.ttf");
}

@media(max-width:400px){
    html{
        font-size: 60%;
    }
}
